h1{
  color:darksalmon
}
h3{
  color: blueviolet;
}

body{
  color: black;
  background-color: beige;
}

span{
  font-family: Verdana;
  font-size: bold;
  font-weight: 800;
}

.Moods{
  text-align: left;
}
.Moods img{
  width: 250px;
  height: 250px;

}
